<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travel.dao.AssociatorDao">
    <insert id="insert" parameterType="Associator">
        insert into user(username,phone,email,scores) value (#{username},#{phone},#{email},${scores})
    </insert>
    <select id="select" resultType="Associator" parameterType="String">
        select * from user where phone=#{phone}
    </select>
    <select id="count" resultType="int" parameterType="String">
       SELECT COUNT(1) FROM USER WHERE phone=#{phone}
    </select>
    <update id="update">
        update user set email=#{email},username=#{name} where phone=#{phone}
    </update>
</mapper>