<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travel.dao.OrderDao">
    <resultMap id="order" type="Order">
        <id column="orderid" property="orderId"/>
        <result column="ordernum" property="orderNum"/>
        <result column="ordertime" property="orderTime"/>
        <result column="price" property="price"/>
        <result column="destination" property="destination"/>
        <result column="status" property="status"/>
        <association property="customize" javaType="Customize">
            <id column="customizeid" property="customizeId"/>
            <result column="destination" property="destination"/>
            <result column="tripsNum" property="tripsNum"/>
            <result column="contact" property="contact"/>
            <result column="phone" property="phone"/>
            <result column="email" property="email"/>
            <result column="startDate" property="startDate"/>
            <result column="endDate" property="endDate"/>
            <result column="flightTime" property="flightTime"/>
            <result column="flightSpace" property="flightSpace"/>
            <result column="flightCompany" property="flightCompany"/>
            <result column="hotel" property="hotel"/>
            <result column="roomType" property="roomType"/>
            <result column="rhythm" property="rhythm"/>
            <result column="tourProject" property="tourProject"/>
            <result column="meal" property="meal"/>
            <result column="other" property="other"/>
        </association>
    </resultMap>

    <resultMap id="scores" type="Order">
        <id column="orderid" property="orderId"/>
        <result column="ordernum" property="orderNum"/>
        <result column="ordertime" property="orderTime"/>
        <result column="price" property="price"/>
        <association property="user" javaType="Associator">
            <result property="scores" column="scores"/>
        </association>
    </resultMap>

    <insert id="insert" parameterType="Order">
        INSERT INTO `ORDER`(orderNum,orderTime,price,STATUS,customizeid) VALUE (#{orderNum},NOW(),#{price},#{status},#{customizeid})
    </insert>

    <select id="selOrder" parameterType="String" resultMap="order">
        SELECT o.*,c.* FROM `order` o inner join customize c on o.customizeid=c.customizeid where c.phone=#{phone}
    </select>

    <select id="selscores" resultMap="scores" parameterType="String">
        SELECT o.orderTime,o.orderNum,o.price,u.scores FROM `order` o
        INNER JOIN customize c ON o.customizeid=c.customizeid
        INNER JOIN `user` u ON u.phone=c.phone
        WHERE c.phone=#{phone}
    </select>
</mapper>